:host {
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  flex-direction: row;
}

.tab {
  background-color: darkgray;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}
