.main {
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-left: 0.5rem;
  box-sizing: inherit;
  overflow-x: hidden;
}

.title {
  text-align: center;
}
