<h3>{{ card.title }}</h3>

@if (card.layout === "horizontalLayout") {
  <div class="sensor-group">
    @for (item of card.items; track item.label) {
      <div class="sensor">
        <span class="label">{{ item.label }}</span>
        <mat-icon>{{ item.icon }}</mat-icon>
        @if ("value" in item) {
          <span class="value"
            >{{ item.value.amount }} {{ item.value.unit }}</span
          >
        }
      </div>
    }
  </div>
}

@if (card.layout === "verticalLayout") {
  @for (item of card.items; track item.label) {
    <div class="row">
      <mat-icon>{{ item.icon }}</mat-icon>
      <span class="label">{{ item.label }}</span>

      @if ("value" in item) {
        <span class="value">{{ item.value.amount }} {{ item.value.unit }}</span>
      }

      @if ("state" in item) {
        <mat-slide-toggle
          class="compact-toggle"
          [checked]="item.state"
          (change)="onToggleDevice(item.label, $event.checked)"
        ></mat-slide-toggle>
      }
    </div>
  }
}

@if (card.layout === "singleDevice") {
  @for (item of card.items; track item.label) {
    <div class="row">
      <mat-icon>{{ item.icon }}</mat-icon>
      <span class="label">{{ item.label }}</span>

      @if ("value" in item) {
        <span class="value">{{ item.value.amount }} {{ item.value.unit }}</span>
      }

      @if ("state" in item && item.type === "device") {
        <mat-slide-toggle
          class="compact-toggle"
          [checked]="item.state"
          (change)="onToggleDevice(item.label, $event.checked)"
        ></mat-slide-toggle>
      }
    </div>
  }
}
