// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use "@angular/material" as mat;

html {
  box-sizing: border-box;
  overflow-x: hidden;
  @include mat.theme(
    (
      color: (
        primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: dark;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  @include mat.slide-toggle-overrides(
    (
      track-height: 12px,
      selected-track-color: rgb(0, 162, 255),
      selected-handle-color: rgb(0, 162, 255),
      unselected-track-color: gray,
      unselected-icon-size: 0px,
      selected-icon-size: 0px,
      selected-pressed-handle-horizontal-margin: 0px,
      selected-track-outline-color: rgb(0, 162, 255),
      selected-focus-handle-color: rgb(0, 162, 255),
      selected-focus-track-color: rgb(0, 162, 255),
      selected-hover-handle-color: rgb(0, 162, 255),
      selected-hover-track-color: rgb(0, 162, 255),
    )
  );
}

h3 {
  margin: 0;
  font-size: 1.5rem;
}

.sensor-group {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  .sensor {
    display: flex;
    flex-direction: column;
  }
}

.sensor {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
  min-height: 38px;
}

.label {
  flex-grow: 1;
}

.device {
  display: flex;
  align-items: center;
  width: 100%;
}
