<div>
  <div class="row">
    <h3 class="label">{{ card.title }}</h3>
    @if (hasMultipleDevices()) {
      <mat-slide-toggle
        class="compact-toggle"
        [checked]="isMasterToggleOn()"
        (change)="onMasterToggle($event.checked)"
      >
      </mat-slide-toggle>
    }
  </div>

  @switch (card.layout) {
    @case (layoutEnum.Horizontal) {
      <app-card-horizontal [card]="card" />
    }
    @case (layoutEnum.Vertical) {
      <app-card-vertical [card]="card" [onToggle]="onDeviceToggle" />
    }
    @case (layoutEnum.SingleDevice) {
      <app-card-device [card]="card" [onToggle]="onDeviceToggle" />
    }
  }
</div>

@if (dashboardFacade.editMode()) {
  <div>
    <mat-divider></mat-divider>
    <div class="controls">
      <button mat-icon-button (click)="onMoveCardClick(card.id, 'left')">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button mat-button (click)="onEditCardClick()">Edit Card</button>
      <button mat-icon-button (click)="onDeleteCardClick(card.id)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button (click)="onMoveCardClick(card.id, 'right')">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>
}
