@if (authService.isAuthenticated()) {
  <mat-sidenav-container class="layout-container">
    <mat-sidenav
      #sidenav
      mode="side"
      [opened]="isDesktop || isSidebarOpened"
      class="sidenav"
    >
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
      @if (!isDesktop) {
        <button mat-icon-button class="toggle-btn" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      }
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
} @else {
  <router-outlet></router-outlet>
}
