@let tabs = tabs$ | async;
<div class="header-all">
  @if (!facade.editMode()) {
    <div class="header">
      <div class="tabs">
        @if (tabs?.length) {
          @for (item of tabs; track item.id) {
            <div
              class="tab"
              [class.active]="(activeTab$ | async)?.id === item.id"
              (click)="selectTab(item)"
            >
              <span>{{ item.title }}</span>
            </div>
          }
        } @else {
          <div class="empty-info">
            <span>
              You don’t have any dashboards yet. They’ll appear here as soon as
              you create them
            </span>
          </div>
        }
      </div>
      <div class="icons">
        <div class="icon" (click)="onEditDashboardClick()">
          <mat-icon>edit</mat-icon>
        </div>
        <div class="icon" (click)="onRemoveDashboardClick()">
          <mat-icon>delete</mat-icon>
        </div>
      </div>
    </div>
  } @else {
    <div class="header-up">
      <div class="info">
        <div class="dashboard-title">
          <b>{{ activeTitle() }}</b>
        </div>
      </div>
      <div class="buttons">
        <button class="button" (click)="onDiscardEditDashboardClick()">
          <span>discard</span>
        </button>
        <button class="button" (click)="onSaveEditDashboardClick()">
          <span>save</span>
        </button>
      </div>
    </div>
    <div class="header-down">
      @if (tabs?.length) {
        @for (item of tabs$ | async; track item.id) {
          @if (item.id === (activeTab$ | async)?.id) {
            <button
              [disabled]="$index === 0"
              class="mat-button"
              (click)="onReorderTabClick(item.id, 'left')"
            >
              <mat-icon>arrow_back</mat-icon>
            </button>
            <div class="tab active">
              <!-- <mat-form-field appearance="fill"> -->
              <!-- <input matInput [(ngModel)]="item.title" /> -->
              <!-- </mat-form-field> -->
              <input
                matInput
                [value]="item.title"
                (input)="onTabTitleChange(item.id, $event.target.value)"
              />
            </div>
            <button class="mat-button" (click)="onRemoveTabClick(item.id)">
              <mat-icon>clear</mat-icon>
            </button>
            <button
              [disabled]="$index === tabs!.length - 1"
              class="mat-button"
              (click)="onReorderTabClick(item.id, 'right')"
            >
              <mat-icon>arrow_forward</mat-icon>
            </button>
          } @else {
            <div
              class="tab"
              [attr.aria-disabled]="facade.editMode()"
              [class.active]="(activeTab$ | async)?.id === item.id"
              (click)="selectTab(item)"
            >
              <span>{{ item.title }}</span>
            </div>
          }
        }
      }
      <button class="mat-button" (click)="onAddTabClick()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  }
</div>

@if (activeTab$ | async) {
  @let tab = activeTab$ | async;
  @if (tab) {
    <app-card-list [cards]="tab.cards"></app-card-list>
  }
}
