:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

.login-input {
  display: block;
  border: 1px solid;
  border-radius: 4px;
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
  margin: 10px 0;
}

.button {
  border: none;
  background-color: var(--primary-color);
  color: var(--light-color);
  border-radius: 4px;
  cursor: pointer;
  padding: 12px;
  margin: 4px 0;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
}
