<form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1>Login</h1>
  <label for="username"
    >Username:
    <input
      formControlName="username"
      class="login-input"
      type="text"
      placeholder="Username"
    />
  </label>
  <label for="password"
    >Password:
    <input
      formControlName="password"
      class="login-input"
      type="password"
      placeholder="Password"
    />
  </label>
  @if (loginError === 401) {
    <div class="error">Invalid username or password.</div>
  }
  @if (loginError !== 401 && loginError !== undefined) {
    <div class="error">Unknown error occurred.</div>
    <div>Please try again later.</div>
  }
  <button class="button" type="submit">Login</button>
</form>
